body {
    background: #ffffff
}

.header1 {
    color: #2212FF;
    font-weight: bold;
    font-size: 20px;
    font-family:   'Times New Roman';
}

.header2{
    color: #2212FF;
    font-weight: bold;
    font-size: 20px;
    font-family:   'Times New Roman';
}

.header3{
    color: #2212FF;
    font-weight: bold;
    font-size: 20px;
    font-family:   'Times New Roman';
}
.header4{
    color: #2212FF;
    font-weight: bold;
    font-size: 20px;
    font-family:  'Times New Roman';
}
.formulario{
    position: relative;
    border-radius: 25px;
    top:50px;   
    left: 45%;
    width:43%;
    height: 70%;
    padding: 15px;
    background: #3D5DB3;
    text-align: center;
    text-transform: uppercase; 
}

p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #969FFF;
}
p{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #969FFF;

}
.imagen{
    
    position:relative;
    clear: both;
    bottom:400px;
    left: 5%;
    width: 33%;
    display:block;
}