body {
    background: white;
    padding: 0;
    margin: 0;
}

.imagen1{
    position: relative;
    left: 60px;
    width: 9%;
    
    
   
}
.boxHeader{
    background: #6982FF;
    position: absolute;
    width: 100%;
    height: 15%;
    padding:1em 0em 0em 0em;
    

}
.header1 {
    position:absolute;
    
    border-radius: 4px;
    padding: 15px;
    top: 35px;
    left:45%;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    font-family:   'Trebuchet MS';
}

.header2{
    position: absolute;
    top: 35px;
    left:51%;
    border-radius: 4px;
    padding: 15px;
    color:#ffffff;
    font-weight: bold;
    font-size: 15px;
    font-family:   'Trebuchet MS';
}

.header3{
    position:absolute;
    top: 35px;
    left:63%;
    border-radius: 4px;
    padding: 15px;
    color:#ffffff;
    font-weight: bold;
    font-size: 15px;
    font-family:   'Trebuchet MS';
}
.header4{
    position:absolute;
    top: 35px;
    left:78%;
    border-radius: 4px;
    padding: 15px;
    color:#ffffff;
    font-weight: bold;
    font-size: 15px;
    font-family:  'Trebuchet MS';
}
.formulario{

    position: relative;
    border-radius: 25px;
    top:65px;   
    left: 50%;
    width:35%;
    height: 70%;
    padding: 15px;
    background: #FFD340;
    text-align: center;
}
    
p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #B39025;
}
p2{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #B39025;

}
p{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #B39025;

}
.imagen{
    
    position:relative;
    clear: both;
    bottom:400px;
    left: 5%;
    width: 33%;
    display:block;
}
a:hover {
    background-color: #FFDC5C;
}
footer{
     width:100%;
     line-height: 80px;
     background:#FFDA69;
     color: #B39025;
     top:50px;
     clear: both;
     text-align: center;
}
.box1{
    background: rgb(66, 64, 55);
    position: absolute;
     width: 100%;
     height: 15%;
     bottom: 100%;
    
}
    